@media (min-width: 576px) {
    .modal-dialog5 {
        max-width: 403px !important;
        margin: 1.75rem auto;
    }
}

.show-more-less-handler {
    color: #8d5440;
    font-weight: 600;
}

.show-less-div-3 {
    font-size: 13px;
    word-break: break-all;
}

.modal-content2 {
    background-color: #fff;
    border: 0px;
    border-radius: 23px;
}

.cart-img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-dish-name {
    color: #8d5440;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
}

.modal-dish-name span {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .7px;
    color: #8b8989;
}

.model-price {
    font-weight: 400;
    color: #8b8989;
}

.model-price span {
    color: #8d5440;
    font-weight: 700;
    font-size: 23px;
}

.model-btn-1 {
    width: 35px;
    cursor: pointer;
    background: transparent;
    border-radius: 20px 0px 0px 20px;
    justify-content: center;
    display: grid;
    align-items: center;
    height: 35px;
    border: 1px solid #d1a77a;
    color: #d1a77a;
}

.numBtn {
    width: 30px;
    background: #d1a77a;
    color: white;
    height: 35px;
    justify-content: center;
    display: grid;
    align-items: center;
}

.model-btn-2 {
    width: 35px;
    cursor: pointer;
    color: #d1a77a;
    background: transparent;
    border-radius: 0px 20px 20px 0px;
    justify-content: center;
    display: grid;
    align-items: center;
    height: 35px;
    border: 1px solid #d1a77a;
}

.modal-body2 {
    border-top: 1px solid #dee2e6;
}

table {
    text-align: center;
}

.cart-footer-btn .add-to-cart-btn div {
    width: 31px;
    height: 31px;
    background: #fff;
    font-size: 34px;
    position: relative;
    margin-left: 45px;
    border-radius: 50%;
}

.cart-footer-btn .add-to-cart-btn {
    align-items: center;
    border-radius: 25px;
    height: 51px;
    font-weight: 600;
    background-color: rgb(141, 84, 64);
    border-color: rgb(141, 84, 64);
}

.cart-footer-btn .add-to-cart-btn div span {
    position: absolute;
    left: 50%;
    top: 39%;
    color: rgb(141, 84, 64);
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.cart-footer-btn .add-to-cart-btn {
    font-size: 13px;
}

.cart-footer-btn .add-to-cart-btn div {
    margin-left: auto;
}

.add-cart-btn {
    position: relative;
}

.add-cart-btn i {
    font-size: 16px;
    position: absolute;
    color: #8d5440;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:390px) {
    .modal-dish-name {
        font-size: 12px !important;
    }
}

@media(max-width:425px) {
    .cart-footer-btn .add-to-cart-btn {
        font-size: 13px;
    }

    .cart-footer-btn .add-to-cart-btn div {
        margin-left: auto;
    }
}

.form-check-input {
    margin-top: 7px;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 21px;
    width: 22px;
    background-color: #eee;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.check-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
    background-color: #d1a77a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
