::-webkit-scrollbar{
width: 6px;
background-color: white;
transition: 2s;
}

::-webkit-scrollbar-thumb{
height: 84px;
background-color: #8d5440;
transition: 2s;
border-radius: 0px;
}
button{
    outline: none!important;
}
.navbar-nav>li {
  padding-right: 27px !important;
}

.navbar-nav>span {
  color: black !important;

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}


.bottom-list {
  margin-top: 7px;
}

.nav-link button {
  background-color: rgb(141, 84, 64);
  border: rgb(141, 84, 64);
  border-radius: 9px;
  height: 40px;
}

.last-icon-img {
  margin-left: 14px;
}


.navbar-collapse ul {
  margin-left: 60px;
}


@media (max-width:1435px) {
  .navbar-nav>li {
    padding-right: 27px !important;
  }
}

@media (max-width:1327px) {
  .navbar-nav>li {
    padding-right: 27px !important;
  }
}

@media (max-width:1260px) {
  .navbar-nav>li {
    padding-right:27px !important;
  }
}

@media (max-width:1160px) {
  .navbar-nav>li {
    padding-right: 27px !important;
  }
}

@media (max-width:1084px) {
  .navbar-nav>li {
    padding-right: 27px !important;
  }
}

@media (max-width:992px) {
  .navbar-collapse {
    position: relative;
    top: 10px;
    left: -60px;
  }
}
.bottom-list-last{
  display: flex;
}
.bottom-list-last span{
  margin-top: 15px;
  cursor: pointer;
}

/*-----------------------checkout----------------------*/

.checkout-form-name{
  width: 100% !important;
  border: 1px solid lightgray !important;
}
.checkout-form-city{
  width: 100% !important;
  border: 1px solid lightgray !important;
}
.checkout-form-option{
  width: 100% !important;
  border: 1px solid lightgray !important;
  margin-left: 0px;
}
.checkout-form-zip{
  width: 100% !important;
  border: 1px solid lightgray !important;
  margin-left: 0px;
}
.checkout-form-country{
  width: 100% !important;
  border: 1px solid lightgray !important;
  margin-left: 0px;
}
.checkout-form-name:focus{
outline: none !important;
border: none !important;
}
.form-check-input{
  width: 20px !important;
  height: 15px !important;
}
.checkout-group-1{
  display: flex;
  justify-content: space-between;
}
.card-holder-name{
  width: 100% !important;
  border: 1px solid lightgray !important;
}
.card-holder-number{
  width: 100% !important;
  border: 1px solid lightgray !important;
}
.card-expirey{
  width: 100% !important;
  border: 1px solid lightgray !important;
}
.card-cvv-num{
  width: 100% !important;
  border: 1px solid lightgray !important;
}
.card-holder-submit{
  background-color: rgb(141, 84, 64) !important;
  border: rgb(141, 84, 64) !important;
}
.card-holder-submit a{
  text-decoration: none;
  font-size: 14px;
  color: white;
  /* width:47% !important; */
  /* background-color: rgb(141, 84, 64) !important; */
  /* border: rgb(141, 84, 64) !important; */
}
.card-holder-submit a:hover{
  text-decoration: none;
  font-size: 14px;
  color: white;
  /* width:47% !important; */
  /* background-color: rgb(141, 84, 64) !important; */
  /* border: rgb(141, 84, 64) !important; */
}
.checkout-second-section{
  margin-left: 180px !important;
}

/*--------------------Modal------------------------*/

.modal-content1{
  border-radius: 10px;
  width: 430px !important;
  height: 560px;
  margin-left: 250px;
  background-color: whitesmoke;
}
.container-cart{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cart-checkout button{
  width: 100%;
  background-color: rgb(141, 84, 64);
  border-radius: 5px;
  border:rgb(141, 84, 64);
  outline: 0;

}
.item-heading,.item-amount,.delivery-heading,.delivery-fee,.total-amount-heading,.total-amount{
  font-size: 14px;
  font-weight: bold;
}
.item-amount,.delivery-fee,.total-amount{
  margin-left: 50px;
}
.container-total-item,.container-delivery,.container-total{
  display: flex;
  justify-content: space-around;
}
.total-amount{
  margin-left: 90px;
}
.bill-detail1{
  margin-left: 45px !important;
}
.container-total{
  margin-left: 15px;
}

.modal-title1{
  margin-left: 30px !important;
}
.cart-bill-section1{
  background-color: lightgray;
  width: 90% !important;
  margin-left: 20px !important;
  height: 150px !important;
  border-radius: 14px;
}
.bill-detail1{
  margin-top: 15px;
}
.modal-content1{
  height: auto;
}

@media(max-width:1130px){
.modal-content1{
margin-left: 100px;
}
}
@media(max-width:991px){
  .modal-content1{
     margin-top: 50px;
     margin-left: 0;
     width: 480px !important;
  }
  }



  /*-----------------------------footer------------------------*/
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}


.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  /* margin-left: 6px; */
  margin-right: 0;
  border-radius: 100%;
  background-color: white
}

.site-footer {
  background-color: whitesmoke;
}

.copyright-text {
  margin: 0
}



@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  /* margin-right: 15px; */
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}





/*----last input field content-*/


.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 8px 7px;
  /* color: green; */
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer-links button {
  background-color: rgb(141, 84, 64);
  color: white;
  width: 80px;
}

.form-group input {
  width: 200px;
  height: 40px;
  border: 0;
  outline: 0;

}


.form-group input::placeholder {
  text-align: left;

}

.form-group button {
  border-radius: 12px;
  border: rgb(141, 84, 64);
  background-color: rgb(141, 84, 64);

}

input[type="email"]::placeholder {

  /* Firefox, Chrome, Opera */
  text-align: left;
}



input[type="email"]:-ms-input-placeholder {

  /* Internet Explorer 10-11 */
  text-align: center;
}

input[type="password"]:-ms-input-placeholder {

  /* Internet Explorer 10-11 */
  text-align: center;
}


input[type="email"]::-ms-input-placeholder {

  /* Microsoft Edge */
  text-align: center;
}



input {
  text-align: center;
}

@media (max-width:534px){
  .site-footer{
    /* width:100vw !important; */
    /* background-color: red; */
  }
}

@media (max-width: 425px){
    .modal-content1 {
        width: 100%!important;
  }
  .card-holder-submit{
    font-size: 11px;
  }

}

  .navbar-nav>li {
    padding-right: 27px !important;
  }
  .nav-link button {
    background-color: rgb(141, 84, 64);
    border: rgb(141, 84, 64);
    border-radius: 9px;
    height: 32px;
    padding-top: 3px;
}
.b-rounded {
    border-radius: 4px!important;
}