::-webkit-scrollbar{
width: 6px;
background-color: white;
transition: 2s;
}

::-webkit-scrollbar-thumb{
height: 84px;
background-color: #8d5440;
transition: 2s;
border-radius: 0px;
}
button{
    outline: none!important;
}
.pay-form-checkout{
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 30px;
    font-weight: 500;
}
.pay-form-delivery{
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 500;
}
.pay-form .header-location img{
    margin-left: -25px;
}
.pay-form .delivery-to{
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 500;
}
.mapperr{
    height:250px;
}
.model-cart .cart-col-2{
    width:150px;padding-top:5px;
}
.model-cart .cart-bill-section .item-heading{
    font-size: 14px;
}
.model-cart .bill-boxs{
    padding-left:16px;
    padding-right:21px;
}
.payment-head{
    margin-bottom: 2%; 
    margin-top: 2%;
    font-size: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #8d5440;
}

#payment-form{
    display: contents;
}
.pay-btn{
    width: 120px!important;
    background: #843232;
    height:40px;
    margin:10px;
}
.cod-btn{
    width: 130px!important;
    background: #843232;
    height:40px;
    margin:10px;
}
#card-element{
    padding: 12px;
    background: #f6f9fc;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
#card-errors{
    color: #e25950;
    padding: 5px;
}
img.mx-auto.d-block.img-fluid.my-bank-icon {
    margin: 3% 0px 13% 0px;
}
.col-6.col-sm-7.col-md-8.text-center.text-sm-left{
    line-height: 13px;
}
.col-md-3.col-sm-5.col-4.new-card-text-size{
    font-size: 12px;
}
@media only screen and (min-width: 570px) and (max-width:997px){
    label.name.lead {
        font-size: 13px;
    }
    .col-6.col-sm-7.col-md-8.text-center.text-sm-left{
        line-height: 10px;
    }
    span.text-muted.small.text-truncate {
        font-size: 9px;
    }
    .justify-content-center.align-self-center > span {
        font-size: 8px;
    }
    
    .col-2.col-sm-3.col-md-2.text-center.text-sm-left.text-md-right.text-xs-center.new-text-size {
        font-size: 9px;
    }
  }

.cc-selector input{
    margin:0;
    padding:0;
    display:none;
}

.home{
    text-align: center;
    border: 1px solid #996654;
    margin-right: 10px;
}
.office{
    text-align: center;
    border: 1px solid #996654;
    margin-right: 10px;
}
.cinema{
    text-align: center;
    border: 1px solid #996654;
    margin-right: 10px;
}
.outdoor{
    text-align: center;
    border: 1px solid #996654;
    margin-right: 10px;
}
.w-70{
    width: 70px;
}
.stadium{
    text-align: center;
    border: 1px solid #996654;
    margin-right: 10px;
}
.hotel{
    text-align: center;
    border: 1px solid #996654;
    margin-right: 10px;
}

.other{
    text-align: center;
    border: 1px solid #996654;
    margin-right: 10px; 

}



.other i{
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    font-size: 31px;   
    color: brown;
    height: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}


.home img{
    width: 42px;
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    height: 42px;
}
.office img{
    width: 42px;
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    height: 42px;
}
.cinema img{
    width: 42px;
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    height: 42px;
}
.outdoor img{
    width: 42px;
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    height: 42px;
}
.stadium img{
    width: 42px;
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    height: 42px;
}
.hotel img{
    width: 42px;
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    height: 42px;
}
.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
            padding: 14px 9px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 13px;
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


@media only screen and (max-width: 425px){
    .home{
    margin-right: 6px;
}
.office{
    margin-right: 6px;
}
.cinema{
    margin-right: 6px;
}
.outdoor{
    margin-right: 6px;
}
.stadium{
    margin-right: 6px;
}
.hotel{
    margin-right: 6px;
}

.w-70{
    width: 57px;
}

.home img{
    width: 34px;
    height: 34px;
}
.office img{
    width: 34px;
    height: 34px;
}
.cinema img{
    width: 34px;
    height: 34px;
}
.outdoor img{
    width: 34px;
    height: 34px;
}
.stadium img{
    width: 34px;
    height: 34px;
}
.hotel img{
    width: 34px;
    height: 34px;
}
}