/* @font-face{
  font-family: gothamRound-Bold;
  src: url(../fonts/GothamRounded-Bold.otf);
}
@font-face{
  font-family: gothamRound-Light;
  src: url(../fonts/GothamRounded-Light.otf);
}
@font-face{
  font-family: gothamRound-Medium;
  src: url(../fonts/GothamRounded-Medium.otf);
}
@font-face{
  font-family: gothamRound-Book;
  src: url(../fonts/GothamRounded-Book.otf);
}
*{
  font-family: gothamRound-Book;
} */

.last-icon-img{
    position: relative;
}
::-webkit-scrollbar{
width: 6px;
background-color: white;
transition: 2s;
}

::-webkit-scrollbar-thumb{
height: 84px;
background-color: #8d5440;
transition: 2s;
border-radius: 0px;
}
button{
    outline: none!important;
}

/* Update style */
.second-navbar{
    margin-top: 99px;
}

.food-card .card{
    min-height: 450px;
    max-height:450px;
    border-radius:1.25rem !important;
}

.food-card .card-header{
    background:white;
    border:none;
    border-radius:20px 20px 0 0;
}
.food-card .heart-class i{
    cursor: pointer;
}
.food-card .card-body{
    width: 95%;
}
.food-card .card-footer{
    background: white;
    border:none;
    border-radius:0 0 20px 20px;
}
/*------------------Second Navbar---------------*/


.second-navbar {
    background-size: contain;
    background-image: url('../images/cover-banner.png');
    background-repeat: no-repeat;
    height: 450px;
}

.row-spacing {
    padding-top: 272px;
    padding-right: 125px;
}


/* @media only screen and (max-width: 1230px) {
  .row-spacing{
    display: none;
  }
} */

@media(max-width:1024px) {
    .row-spacing {
        padding-top: 195px;
    }
}

@media(max-width:768px) {
    .row-spacing {
        padding-top: 142px;
        padding-left: 188px;
    }
    .app-stores {
        width: 150px;
    }
}

@media(max-width:768px) {
    .row-spacing {
        padding-top: 142px;
        padding-left: 152px;
    }
    .app-stores {
        width: 100px;
    }
}

@media(max-width:425px) {
    .row-spacing {
        padding-top: 79px;
        padding-left: 116px;
    }
    .app-stores {
        width: 80px;
    }
}

@media(max-width:375px) {
    .row-spacing {
        padding-top: 68px;
        padding-left: 116px;
    }
    .app-stores {
        width: 60px;
    }
}

@media(max-width:320px) {
    .row-spacing {
        padding-top: 58px;
        padding-right: 102px;
        padding-left: 105px;
    }
    .app-stores {
        width: 45px;
    }
}

@media only screen and (max-width: 800px) {
    .second-navbar {
        height: 230px;
    }
}

.second-navbar-heading {
    color: white;
    margin-top: 130px;
    font-size: 60px !important;
}

.second-navbar-img {
    margin-top: 23px;
}

.img1 {
    margin-top: 150px;
}

.img2 {
    margin-top: 20px;
}


/* .dropdown-rating-section .btn {
  background-color: white;
} */

.dropdown-rating-section .dropdown-toggle {
    background-color: white !important;
    /* border-color: #fff;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none; */
}

@media (min-width: 992px) {
    .second-navbar {
        padding-left: 0;
        padding-right: 0;
    }
}


/*-------------------End-----------*/

.rating-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rating-filter-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
}

.filter-section {
    margin-left: 20px;
    background-color: whitesmoke;
    height: 33px;
    width: 90px;
    padding-top: 2px;
    border-radius: 7px;
    text-align: center;
}

.filter-section a {
    color: rgb(141, 84, 64);
    text-decoration: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: #8D5440;
    border: none;
}

.nav-link.active {
    color: #8D5440 !important;
    border: none;
    border-bottom: 2px solid #8D5440 !important;
}

.nav a {
    color: lightslategray;
    border: none;
}

@media(max-width:570px) {
    .rating-filter-section {
        margin-left: 0px;
    }
}

@media(max-width:420px) {
    .resturent h1 {
        font-size: 35px;
    }
}

@media(max-width:365px) {
    .resturent h1 {
        font-size: 30px;
    }
}

@media(max-width:313px) {
    .resturent h1 {
        font-size: 25px;
    }
    .rating-filter-section {
        margin-left: 20px;
    }
}


/*---------------------food-cart----------------*/

.header-text {
    border: 1px solid rgb(141, 84, 64);
    border-radius: 4px;
    background-color: rgb(141, 84, 64);
    margin-top: 10px;
    color: white;
    cursor: pointer;
    padding: 2px 5px;
}

.food-cart {
    margin: 50px 0 0 0;
}

.card-body {
    /* margin:0 auto; */
    text-align: center;
    margin: 0px auto;
}

.card img {
    object-fit: cover;
    width: 200px !important;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 15px;
}

.cart-top-content {
    display: flex;
    /* justify-content:space-around */
}

.colo2-heart {
    margin-left: 140px;
    margin-top: 10px;
    color: rgb(141, 84, 64);
    cursor: pointer;
}

.colo1-heart {
    margin-left: 25px;
    border: 1px solid rgb(141, 84, 64);
    width: 50px;
    border-radius: 4px;
    background-color: rgb(141, 84, 64);
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.card-body>a {
    text-decoration: none;
}

.cart-button {
    /* border: 1px solid rgb(141, 84, 64);
  border-radius: 4px;
  width: 80px !important;
  color: rgb(141, 84, 64); */
    outline: none;
}

.cart-button:focus {
    outline: none;
}

.btn-secondary {
    background-color: grey !important;
    border-color: grey !important;
}

@media(max-width:575px) {
    .card {
        margin-bottom: 15px;
        /* text-align: ; */
        /* padding-left: ; */
    }
}


/*------------------main-bottom-header---------------*/

.main-bottom-header {
    background-image: url('../images/background-header.png');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 255px;
}

.bottom-header {
    background-image: url('../images/header1.png');
    background-size: cover;
    width: 100%;
    height: 255px;
}

.bottom-header-wrapper .row {
    margin-left: 200px !important;
}

.bottom-header-wrapper .b-header1 {
    margin-top: 80px;
}

.b-header12,
.b-header13,
.b-header14,
.b-header15 {
    margin-top: 105px !important;
}

.b-btn button {
    background-color: white;
    border: white;
    color: rgb(141, 84, 64);
    border-radius: 7px;
}

.b-btn button:hover {
    background-color: white;
    border: white;
    color: rgb(141, 84, 64);
    outline: 0;
    /* border: rgb(141, 84, 64); */
}

.b-btn button::after {
    background-color: white;
    border: white;
    color: rgb(141, 84, 64);
    outline: 0;
    /* border: rgb(141, 84, 64); */
}

.bottom-header * {
    color: white;
}

@media (max-width: 767px) {
    .b-header12,
    .b-header13,
    .b-header14 {
        display: none;
    }
}

@media (max-width: 576px) {
    .main-bottom-header {
        height: 370px;
    }
}

@media (max-width: 438px) {
    .bottom-header {
        height: 250px;
    }
    .main-bottom-header {
        height: 420px;
    }
    .b-header111 {
        position: relative;
        top: 120px;
        left: -100px;
    }
    .b-header15 {
        position: relative;
        top: 30px;
        left: -100px;
    }
}
.navbar{
    border-bottom: 1px solid #f5f5f5;
}

.food-cart .nav-tabs .nav-link{
    border: none;
    border-bottom: 1px solid #dee2e6;
}

@media (max-width: 400px) {
    .second-navbar-img{
        margin-top: 0px;
    }
    .b-header15 button {
        width: 200px;
    }
    .b-header15 {
        left: -125px;
    }
    .navbar-collapse ul {
        margin-left: 0px;
    }
    .navbar-collapse ul {
        margin-left: 0px!important;
    }
    .navbar-collapse {
        left: 0px!important;
    }
}

@media (max-width: 333px) {
    .b-header111 {
        left: -145px;
    }
    .b-header15 {
        left: -165px;
    }
    .main-bottom-header {
        height: 450px;
    }
    .bottom-header {
        height: 220px;
    }
}


/*-------------------End-----------*/


/*-------------------------------Show more----------------*/

.show-more-btn>button {
    margin-top: 130px !important;
    text-align: center;
    background-color: rgb(141, 84, 64);
    color: white;
    border-radius: 8px;
    outline: 0;
}

.show-more-btn>button:focus {
    outline: 0;
}

.show-more-btn>button:hover {
    color: white !important;
}

.show-more-btn {
    flex-grow: 1;
    text-align: center;
}

.last-home-btn:hover {
    color: white;
}

.btn-close {
    width: 150px;
    background-color: rgb(141, 84, 64);
    color: white;
    font-size: 16px;
}

.btn-close :hover {
    color: white !important;
}

.cart-detail {
    width: 144px;
}

.addon-price {
    padding-left: 16px;
}

@media(max-width:768px) {
    .cart-detail {
        width: 153px;
    }
    .addon-price {
        padding-left: 16px;
    }
}

@media(max-width:425px) {
    .cart-detail {
        width: 204px;
    }
    .addon-price {
        padding-left: 23px;
    }
}

@media(max-width:414px) {
    .cart-detail {
        width: 192px;
    }
}

@media(max-width:375px) {
    .cart-detail {
        width: 157px;
    }
    .addon-price {
        padding-left: 16px;
    }
}

@media(max-width:320px) {
    .cart-detail {
        width: 105px;
    }
    .addon-price {
        padding-left: 10px;
    }
}


/*-----------------------------footer------------------------*/

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #8D5440;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* margin-left: 6px; */
    margin-right: 0;
    border-radius: 100%;
    background-color: #8D5440;
    color: white !important;
}

.site-footer {
    background-color: whitesmoke;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 6px;
}

.social-icons li.title {
    /* margin-right: 15px; */
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: white;
    color: #8D5440 !important;
}

.social-icons a.twitter:hover {
    background-color: white;
    color: #8D5440 !important;
}

.social-icons a.linkedin:hover {
    background-color: white;
    color: #8D5440 !important;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/*----last input field content-*/

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 8px 7px;
    /* color: green; */
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.footer-links button {
    background-color: rgb(141, 84, 64);
    color: white;
    width: 80px;
}

.form-group input {
    width: 200px;
    height: 40px;
    /* border-radius: 10px; */
    border: 0;
    outline: 0;
}

.form-group button {
    border-radius: 12px;
    border: rgb(141, 84, 64);
    background-color: rgb(141, 84, 64);
}

input[type="email"]::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: center;
}

input[type="email"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: center;
}

input[type="password"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: center;
}

input[type="email"]::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: center;
}

input {
    text-align: center;
}


/*------------------------First Modal ---------------------*/

.modal1 {
    /* width: 30%; */
    width: 35%;
}

.modal-content1 {
    border-radius: 15px;
    /* width: 900px; */
}

.fa-search {
    padding-top: 20px;
}

.modal-content1::placeholder {
    text-align: left;
}

.close-modal1 {
    margin-left: 100px !important;
}

.map-img img {
    position: absolute;
    left: 340px;
    top: 5px;
}

.cross-modal1 {
    font-size: 26px !important;
    margin-left: 350px !important;
    cursor: pointer;
}

.modal-dialog {
    height: 500px !important;
}

@media(max-width:1384px) {
    .map-img img {
        position: absolute;
        left: 330px;
    }
    .cross-modal1 {
        margin-left: 360px !important;
    }
}

@media(max-width:1196px) {
    .cross-modal1 {
        margin-left: 350px !important;
    }
    .map-img img {
        /* position: absolute; */
        left: 300px;
    }
}

@media(max-width:1096px) {
    .map-img img {
        left: 400px;
    }
    .cross-modal1 {
        margin-left: 435px !important;
    }
    .modal1 {
        width: 50%;
    }
}

@media (max-width: 968px) {
    .map-img img {
        left: 300px
    }
    .cross-modal1 {
        margin-left: 415px !important;
    }
}

@media (max-width: 936px) {
    .cross-modal1 {
        margin-left: 400px !important;
    }
}

@media (max-width: 887px) {
    .cross-modal1 {
        margin-left: 370px !important;
    }
}

@media (max-width: 859px) {
    .map-img img {
        left: 280px
    }
}

@media (max-width: 827px) {
    .cross-modal1 {
        margin-left: 330px !important;
    }
}

@media (max-width: 770px) {
    .cross-modal1 {
        margin-left: 310px !important;
    }
}

@media (max-width: 745px) {
    .map-img img {
        left: 235px
    }
}

@media (max-width: 710px) {
    .cross-modal1 {
        margin-left: 260px !important;
    }
}

@media (max-width: 910px) {
    .modal1 {
        width: 50%;
    }
}

@media (max-width: 695px) {
    .modal1 {
        width: 60%;
    }
    .map-img img {
        left: 260px
    }
}

@media (max-width: 580px) {
    .modal1 {
        width: 100%;
    }
    .cross-modal1 {
        margin-left: 420px !important;
    }
    .map-img img {
        left: 360px
    }
}

@media (max-width: 490px) {
    .cross-modal1 {
        margin-left: 360px !important;
    }
}

@media (max-width: 452px) {
    .map-img img {
        left: 290px
    }
}

@media (max-width: 490px) {
    .cross-modal1 {
        margin-left: 360px !important;
    }
}

@media (max-width: 430px) {
    .cross-modal1 {
        margin-left: 320px !important;
    }
}

@media (max-width: 384px) {
    .cross-modal1 {
        margin-left: 270px !important;
    }
    .map-img img {
        left: 260px
    }
}

@media (max-width: 353px) {
    .map-img img {
        left: 230px
    }
}

@media (max-width: 331px) {
    .modal1 {
        /* width: 80%; */
    }
    .cross-modal1 {
        margin-left: 210px !important;
    }
    .map-img img {
        left: 220px
    }
}


/*------------------------Second Modal ---------------------*/

.table td,
.table th {
    padding: 0rem;
}

.modal-header2 {
    width: 100%;
    height: 200px;
    background-image: url('../images/backgound1.png');
    border: rgb(141, 84, 64);
    color: white;
}

.modal-name,
.modal-amount {
    margin-top: 30px;
}

.modal-btn1,
.modal-btn2,
.modal-btn3 {
    width: 40px;
    padding: 3px;
    color: rgb(141, 84, 64);
    cursor: pointer;
}

.modal-footer2 button {
    margin: 0 auto;
    background-color: rgb(141, 84, 64);
    border: rgb(141, 84, 64);
    border-radius: 10px;
    height: 40px;
}

.modal-link-btn a {
    text-decoration: none;
    color: white !important;
}


/*---------------------3 Modal------------------------*/

.modal3 {
    width: 180%;
    margin-top: 70px;
}

.modal-content3 {
    border-radius: 10px;
    width: 70%;
    height: 560px;
}

.container-cart {
    display: flex;
    padding-left: 25px;
    flex-wrap: wrap;
}

.cart-bill-section {
    height: 130px;
    width: 100%;
}

.cart-checkout button {
    width: 100%;
    background-color: rgb(141, 84, 64);
    border-radius: 5px;
    border: rgb(141, 84, 64);
    outline: 0;
}

.item-heading,
.item-amount,
.delivery-heading,
.delivery-fee,
.total-amount-heading,
.total-amount {
    font-size: 14px;
    font-weight: bold;
}

.item-amount,
.delivery-fee,
.total-amount {
    /* margin-left: 50px; */
}

.container-total-item,
.container-delivery,
.container-total {
    display: flex;
    justify-content: space-around;
}

.total-amount {
    margin-left: 90px;
}

.bill-detail {
    margin-left: 21px;
}

.container-total {
    margin-left: 15px;
}

.btn-checkout1 a {
    text-decoration: none;
    color: white;
}

@media (max-width:991px) {
    .modal3 {
        width: 100%;
    }
}

@media (max-width:480px) {
    .modal3 {
        width: 140%;
    }
}

.btn-checkout1 a {
    text-decoration: none !important;
    color: white !important;
}


/*----------------second modal mobile responsiveness-------------*/

.modal-header-tr th,
td {
    border-top: none !important;
}

@media (max-width:390px) {
    .modal-amount-controller {
        flex-direction: column;
    }
    .modal-dish-name {
        font-size: 12px !important;
    }
}

@media (max-width:345px) {
    .modal-amount-controller2 {
        display: flex;
        flex-direction: column;
    }
    .dish-name span {
        font-size: 10px !important;
    }
    .modal-controller21 span {
        font-size: 11px !important;
    }
    .modal-link-btn {
        width: 120px !important;
        font-size: 11px;
    }
    .btn-close {
        width: 100px !important;
        font-size: 13px;
    }
}

@media(max-width:330px) {
    .dish-name span {
        font-size: 12px !important;
    }
}

.dish-name {
    /* background-color: #26272b; */
    border-top: none !important;
    border-bottom: none !important;
}
@media only screen and (max-width: 425px){
    .second-navbar {
        height: 116px;
    }
}