.location-icon {
    position: absolute;
    top: 9px;
    right: 26px;
}

.location-icon-1 {
    position: absolute;
    margin: 10px;
}

.location-input {
    width: 90%;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 30px;
    height: 40px;
    background-color: lightgray;
    color: #000;
    border-color: lightgray;
    border-style: solid;
    outline: none;
}

.location-dropdown {
    width: 300px;
    padding: 16px;
}

.location-toggle {
    width: 250px;
    height: 40px;
    background-color: lightgray !important;
    border-radius: 20px;
    border: 0;
    outline: 0;
}

.location-toggle a {
    color: black !important;
}

.pac-container {
    background-color: lightgray;
}

.pac-icon {
    color: rgb(141, 84, 64);
}

.pac-container,
.pac-item {
    box-sizing: content-box;
    padding-right: 4px;
    border-radius: 10px;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}
