@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: ubuntu1;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: ubuntu1;
}

.headings>h1,
button {
    font-family: ubuntu;
}


.login-page-wrapper {
    height: 600px;
}

.login-img-section {
    background-image: url('../images/login-img1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* height: -webkit-fill-available; */
}

.login-form-section {
    margin-top: 100px;
    margin-left: 80px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 12px 7px;
    /* color: green; */
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.form-group input,
button {
    width: 315px;
    height: 50px;
    border-radius: 10px;
    /* border: 0; */
    outline: 0;

}

.form-group button {
    border-radius: 12px;
    border: rgb(141, 84, 64);
    background-color: rgb(141, 84, 64);

}

.login-btn a {
    text-decoration: none;
    color: white;
}

.forget-password a {
    text-decoration: none !important;
    color: rgb(141, 84, 64) !important;
}

.create-new-account a {
    text-decoration: underline !important;
    color: rgb(141, 84, 64) !important;

}

input[type="email"]::placeholder {

    /* Firefox, Chrome, Opera */
    text-align: center;
}

input[type="password"]::placeholder {

    /* Firefox, Chrome, Opera */
    text-align: center;
}

input[type="email"]:-ms-input-placeholder {

    /* Internet Explorer 10-11 */
    text-align: center;
}

input[type="password"]:-ms-input-placeholder {

    /* Internet Explorer 10-11 */
    text-align: center;
}


input[type="email"]::-ms-input-placeholder {

    /* Microsoft Edge */
    text-align: center;
}

input[type="password"]::-ms-input-placeholder {

    /* Microsoft Edge */
    text-align: center;
}

input {
    text-align: center;
}

.back-to-login {
    color: #8D5540;
}

.back-to-login:hover {
    text-decoration: none;
}

@media(max-width:470px) {
    .login-form-section {
        position: relative;
        left: -60px
    }

    .login-img-section {
        height: 450px;
    }
}

@media(max-width:387px) {
    .login-form-section {
        position: relative;
        left: -80px
    }

    .login-img-section {
        height: 410px;
    }

    .form-group input,
    button {
        width: 295px;
        height: 50px;
        border-radius: 10px;
        /* border: 0; */
        outline: 0;

    }
}

@media(max-width:325px) {
    .login-form-section {
        position: relative;
        left: -90px
    }

    .login-img-section {
        height: 410px;
    }

    .form-group input,
    button {
        width: 295px;
        height: 50px;
        border-radius: 10px;
        /* border: 0; */
        outline: 0;

    }
}

@media(max-width:300px) {
    .login-form-section {
        position: relative;
        left: -90px
    }

    .login-img-section {
        height: 300px;
    }

    .form-group input,
    button {
        width: 255px;
        height: 50px;
        border-radius: 10px;
        /* border: 0; */
        outline: 0;

    }
}
