.last-icon-img{
  position: relative;
}
.batch{
    position: absolute;
    width: 22px;
    text-align: center;
    right: -11px;
    height: 22px;
    border-radius: 50%;
    top: -14px;
    background: #8d5440;

}
.batch p{
    font-size: 11px;
    position: absolute;
    line-height: 0px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.navbar-nav>li {
  padding-right: 23px !important;
}
.navbar{
  border-bottom: 1px solid #f5f5f5;
}

.navbar-nav>span {
  color: black !important;

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}


.bottom-list {
  margin-top: 7px;
}

.nav-link button {
  background-color: rgb(141, 84, 64);
  border: rgb(141, 84, 64);
  border-radius: 9px;
  height: 40px;
}

.last-icon-img {
    display: grid;
    align-items: center;
}

.good-heading{
font-size: 17px;
color: rgb(141, 84, 64);
}
.header-location-text{
font-size: 14px;
cursor: pointer;
}

.navbar-collapse ul {
  margin-left: 60px;
}


@media (max-width:1435px) {
  .navbar-nav>li {
    padding-right: 23px !important;
  }
}

@media (max-width:1327px) {
  .navbar-nav>li {
    padding-right: 23px !important;
  }
}

@media (max-width:1260px) {
  .navbar-nav>li {
    padding-right: 23px !important;
  }
}

@media (max-width:1160px) {
  .navbar-nav>li {
    padding-right: 23px !important;
  }
}

@media (max-width:1084px) {
  .navbar-nav>li {
    padding-right: 15px !important;
  }
}

@media (max-width:992px) {
  .navbar-collapse {
    position: relative;
    top: 10px;
    left: -60px;
  }
}
.bottom-list-last{
  display: flex;
}
.bottom-list-last span{
  margin-top: 15px;
  cursor: pointer;
}
.b-rounded{
border-radius: 4px!important;
}
.nav-link button {
    background-color: rgb(141, 84, 64);
    border: rgb(141, 84, 64);
    border-radius: 9px;
    height: 32px;
    padding-top: 3px;
}
.header-location .location-input {
    width: 100%!important;
    border-radius: 0px!important;
    padding-top: 0px!important;
    padding-left: 0px!important;
    height: auto!important;
    background-color: transparent!important;
    cursor: pointer!important;
    color: #000!important;
    border-color: transparent!important;
    border-style: solid!important;
    outline: none!important;
    border: 0px!important;
}

@media (max-width: 425px){
  .navbar-collapse {
      left: 0px!important;
  }
  .navbar-collapse ul {
    margin-left: 0px;
  }
}