/*------------Order Tracker Section 1---------------*/
.order-tracker-heading{
    display: flex;
    margin-top: 50px;
}
.track-heading{
    margin-left: 20px;
    color: rgb(141, 84,64);
cursor: pointer;

}
.left-icon{
    color: rgb(141, 84,64);
    font-size: 18px;
cursor: pointer;
}
.order-id-section{
    display: flex;
    /* margin-top: 30px; */

    /* padding: 10px; */
}
.order-detail{
    margin-left: 25px;
}
.order-id{
    margin-left: 25px;

}
.order-time-detail{
    background-color: whitesmoke;
    height: 80px;

    /* padding: 40px 0; */
    /* border: 3px solid green; */
    text-align: center;
}
.order-components{
    margin-top:10px
}
.vertical-line{
    border-left:1px solid gray;
    height: 50px;
}

.vertical-progress{
    border-left:2px dotted gray;
    height: 85px;
    /* width: 50px; */
}
.order-tracker-delivery,.order-tracker-placed,.order-tracker-confirmed,.order-tracker-pickedUp{
    /* margin-left: 20px; */
}
.adds-on{
    margin-left: 50px !important;
    margin-top: 5px !important;
}
.cancel-order{
    width: 100%;
    background-color: rgb(141, 84,64);
    border: rgb(141, 84,64);
    border-radius: 7px;
}
.order-id{
    width: 100px;
    height: 28px;
    font-weight: bold;
    border-radius: 6px;
    color: rgb(141, 84,64);
    background-color: whitesmoke;
    text-align: center;
}
.reorder-btn button{
    width: 130px;
    background-color: rgb(141, 84,64);
    border: rgb(141, 84,64);
    border-radius: 5px;
}
.left-icon {
    /* margin-top: 8px; */
    font-size: 30px !important;
    font-weight: bold;
}

@media(max-width:508px){

}


/*-----------------------------footer------------------------*/



.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }
  
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
  }
  
  .site-footer hr.small {
    margin: 20px 0
  }
  
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
  }
  
  .site-footer a {
    color: #737373;
  }
  
  .site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-links {
    padding-left: 0;
    list-style: none
  }
  
  .footer-links li {
    display: block
  }
  
  .footer-links a {
    color: #737373
  }
  
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-links.inline li {
    display: inline-block
  }
  
  
  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* margin-left: 6px; */
    margin-right: 0;
    border-radius: 100%;
    background-color: white
  }
  
  .site-footer {
    background-color: whitesmoke;
  }
  
  .copyright-text {
    margin: 0
  }
  
  
  
  @media (max-width:991px) {
    .site-footer [class^=col-] {
      margin-bottom: 30px
    }
  }
  
  @media (max-width:767px) {
    .site-footer {
      padding-bottom: 0
    }
  
    .site-footer .copyright-text {
      text-align: center
    }
  }
  
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }
  
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px
  }
  
  .social-icons li.title {
    /* margin-right: 15px; */
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  }
  
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
  }
  
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
  }
  
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }
  
  .social-icons a.facebook:hover {
    background-color: #3b5998
  }
  
  .social-icons a.twitter:hover {
    background-color: #00aced
  }
  
  .social-icons a.linkedin:hover {
    background-color: #007bb6
  }
  
  .social-icons a.dribbble:hover {
    background-color: #ea4c89
  }
  
  @media (max-width:767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600
    }
  }
  
  
  
  
  
  /*----last input field content-*/
  
  
  
  
  
  
  
  .input-icons i {
    position: absolute;
  }
  
  .input-icons {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .icon {
    padding: 8px 7px;
    /* color: green; */
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .footer-links button {
    background-color: rgb(141, 84, 64);
    color: white;
    width: 80px;
  }
  
  .form-group input {
    width: 200px;
    height: 40px;
    /* border-radius: 10px; */
    border: 0;
    outline: 0;
  
  }
  
  .form-group button {
    border-radius: 12px;
    border: rgb(141, 84, 64);
    background-color: rgb(141, 84, 64);
  
  }
  
  input[type="email"]::placeholder {
  
    /* Firefox, Chrome, Opera */
    text-align: center;
  }
  
  
  
  input[type="email"]:-ms-input-placeholder {
  
    /* Internet Explorer 10-11 */
    text-align: center;
  }
  
  input[type="password"]:-ms-input-placeholder {
  
    /* Internet Explorer 10-11 */
    text-align: center;
  }
  
  
  input[type="email"]::-ms-input-placeholder {
  
    /* Microsoft Edge */
    text-align: center;
  }
  
  
  
  input {
    text-align: center;
  }
  .cancel-order a{
    text-decoration: none !important;
    color: white;
  }
  .reorder-btn a{
    text-decoration: none !important;
    color: white;
  }

 /*------------------------Second Modal */



.modal-header2{
  width: 100%;
  height: 200px;
  background-image: url('../images/backgound1.png');
  border: rgb(141, 84, 64);
  color: white;
  
}
.modal-name,.modal-amount{
  margin-top: 30px;
}
.modal-amount{
  /* margin-left: 10px; */
}
/* .modal-name{
  display: flex;
  flex-direction: column;
}
.modal-img-wrapper{
  display: flex;
} */
.modal-btn1,.modal-btn2,.modal-btn3{
  /* border:1px solid lightgray; */
  width: 60px;
  padding:4px;
  color: rgb(141, 84, 64);
  cursor: pointer;
}
.modal-footer2 button{
  margin:0 auto;
  background-color: rgb(141, 84, 64);
  border: rgb(141, 84, 64);
  border-radius: 10px;
  height: 40px;
}
.modal-link-btn a{
  text-decoration: none;
  color: white !important;
}


/*---------------------3 Modal------------------------*/


/*--------------------Modal first-----------------------*/
.modal3{
  width: 180%;
  margin-top: 70px;
  
}
.modal-content3{
  border-radius: 10px;
  width: 70%;
  height: 560px;
}
.container-cart{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cart-bill-section{
  height: 130px;
  width: 100%;
  background-color:whitesmoke;
}
.cart-checkout button{
  width: 100%;
  background-color: rgb(141, 84, 64);
  border-radius: 5px;
  border:rgb(141, 84, 64);
  outline: 0;

}
.item-heading,.item-amount,.delivery-heading,.delivery-fee,.total-amount-heading,.total-amount{
  font-size: 14px;
  font-weight: bold;
}
.item-amount,.delivery-fee,.total-amount{
  margin-left: 50px;
}
.container-total-item,.container-delivery,.container-total{
  display: flex;
  justify-content: space-around;
}
.total-amount{
  margin-left: 90px;
}
.bill-detail{
  margin-left: 21px;
}
.container-total{
  margin-left: 15px;
}

.btn-checkout1 a{
  text-decoration: none;
  color: white;
}
@media (max-width:991px){
  .modal3{
    width: 100%;
    /* margin-top: 70px; */
    
  }
}
@media (max-width:480px){
  .modal3{
    width: 140%;
    /* margin-top: 70px; */
    
  }
}
@media (max-width:310px){
  .modal-content1{
    height: 700px;
  }
}

.btn-checkout1 a{
  text-decoration: none !important;
  color: white !important;
}