.last-icon-img {
    position: relative;
}

.batch {
    position: absolute;
    width: 19px;
    text-align: center;
    right: 4px;
    height: 20px;
    border-radius: 50%;
    top: 0px;
    background: #34C759;

}

.batch p {
    font-size: 11px;
    position: absolute;
    line-height: 0px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.dropdown-menu {
    left: -230px;
    width: 320px;
    height: 550px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: white;
    transition: 2s;
}

::-webkit-scrollbar-thumb {
    height: 84px;
    background-color: #8d5440;
    transition: 2s;
    border-radius: 0px;
}

button {
    outline: none !important;
}

.menurie-text {
    color: rgb(141, 84, 64)
}

.best-card {
    width: 60%;
    margin-right: 5px;
}

#round .card-header {
    background: #8d5440;
    border: none;
    border-radius: 20px 20px 0 0;
}

#round .heart-class i {
    color: #fff;
    cursor: pointer;
}

#round .card-header .row {
    margin-top: 10px
}

#round .card-body {
    margin-left: 0px;
    width: 100%;
    background-image: linear-gradient(to bottom, #8d5440, #8d5440 50%, white 50%, white);
}

#round .card-footer {
    background: white;
    border-radius: 0 0 20px 20px;
}

#round .text-muted {
    white-space: pre-line;
}

.trending-chef-box {
    outline: none;
}

.trending-chef-box .list1-img img {
    background-color: #8d5440;
    border-radius: 50%;
}

.m10 {
    margin-right: 10px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/toggler-icon-new.png');
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar {
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid #f5f5f5;
}

.navbar a {
    color: black !important;
    font-size: 18px;
}

.navbar li {
    padding-right: 10px !important;
}

.navbar a :hover {
    cursor: pointer;
}

.bottom-list {
    margin-top: 7px;
    margin: auto;
}

.card-body-image {
    overflow: hidden;
    background-color: transparent;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    z-index: 1;
    margin: 0px auto;
}

.card-footer .btn {
    background-color: #8d5440;
    color: #fff !important;
}

.card-footer .btn:hover {
    background-color: #c82333;
    color: #fff !important;
}

.col-gray {
    color: #6e6e6e !important;
}

.card-body-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.nav-link button {
    background-color: rgb(141, 84, 64);
    border: rgb(141, 84, 64);
    border-radius: 9px;
    height: 32px;
    padding-top: 3px;
}

.colr-gray {
    color: #6e6e6e !important;
}

.card-footer .cart-button {
    border-radius: 50%;
    padding: 0px;
    position: relative;
    width: 39px;
    height: 39px;
    border: 1px solid #8d5440;
    background-color: #fff !important;
    color: #8d5440 !important;
    box-shadow: 0px 0px 11px 0 rgb(0 0 0 / 20%), 0px 1px 6px 0px rgb(0 0 0 / 1%);
}

.best-card .header-text {
    position: absolute;
    right: 19px;
    top: 8px;
    font-size: 11px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0 rgb(0 0 0 / 20%), 0px 1px 0px 0px rgb(0 0 0 / 1%);
    background: #fff;
}

.add-cart-btn {
    position: relative;
}

.add-cart-btn i {
    font-size: 16px;
    position: absolute;
    color: #8d5440;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-footer .cart-button i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-footer .cart-button:hover {
    background-color: rgb(141, 84, 64) !important;
    color: #fff !important;
}

.card-footer .cart-button p {
    font-size: 23px;
    line-height: 31px;
}

.last-icon-img {
    margin-left: auto 10px;
    display: grid;
    align-items: center;
}

.card-footer h5 {
    width: 100%;
    height: 26px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar-brand {
    margin-left: 50px;
}

@media(max-width:425px) {
    .navbar-brand {
        margin-left: 0px;
    }

    .good-heading {
        margin-top: 19px !important;
    }

    .bottom-list {
        width: 100%;
    }
}

.navbar-nav>li {
    padding-right: 37px !important;
}

.cart-img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-dish-name {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
}

.modal-dish-name span {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .7px;
    color: #8b8989;
}

.modal-content2 {
    background-color: #fff;
    border: 0px;
    border-radius: 23px;
}

.model-price {
    font-weight: 400;
    color: #8b8989;
}

.model-price span {
    color: #000000;
    font-weight: 700;
    font-size: 23px;
}

.model-btn-1 {
    width: 35px;
    cursor: pointer;
    background: transparent;
    border-radius: 20px 0px 0px 20px;
    justify-content: center;
    display: grid;
    align-items: center;
    height: 35px;
    border: 1px solid #d1a77a;
    color: #d1a77a;
}

.numBtn {
    width: 30px;
    background: #d1a77a;
    color: white;
    height: 35px;
    justify-content: center;
    display: grid;
    align-items: center;
}

.model-btn-2 {
    width: 35px;
    cursor: pointer;
    color: #d1a77a;
    background: transparent;
    border-radius: 0px 20px 20px 0px;
    justify-content: center;
    display: grid;
    align-items: center;
    height: 35px;
    border: 1px solid #d1a77a;
}

` .modal-body2 {
    border-top: 1px solid #dee2e6;
}

@media (min-width: 576px) {
    .modal-dialog5 {
        max-width: 403px !important;
        margin: 1.75rem auto;
    }
}

.view-btn {
    padding: 10px;
    border-radius: 25px;
    text-decoration: none !important;
    margin-right: 10px;
    color: #8d5440 !important;
    vertical-align: middle;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.char-spacing {
    letter-spacing: 2px;
}

@media (max-width:1435px) {
    .navbar-nav>li {
        padding-right: 37px !important;
    }
}

@media (max-width:1327px) {
    .navbar-nav>li {
        padding-right: 55px !important;
    }
}

@media (max-width:1260px) {
    .navbar-nav>li {
        padding-right: 40px !important;
    }
}

@media (max-width:1160px) {
    .navbar-nav>li {
        padding-right: 30px !important;
    }
}

@media (max-width:1084px) {
    .navbar-nav>li {
        padding-right: 15px !important;
    }
}

.bottom-list-last {
    display: flex;
}

.bottom-list-last span {
    margin-top: 15px;
}

/*------------------Second Navbar---------------*/
.bottom-section {
    /* background-color: whitesmoke; */
    /* height: 500px; */
    margin-top: 90px;
}

.dropdown .dropdown-toggle {
    width: 50px;
    height: 40px;
    /* background-color: lightgray !important; */
    border-radius: 20px;
    border: 0;
    outline: 0;
    padding-top: 8px;
}

.dropdown-toggle a {
    color: black !important;
}

.header-input-wrapper input {
    width: 400px;
    height: 50px;
    border: 0;
    outline: 0;
}

.pac-container {
    background-color: lightgray;
}

.pac-icon {
    color: rgb(141, 84, 64);
}

.pac-container,
.pac-item {
    box-sizing: content-box;
    padding-right: 4px;
    border-radius: 10px;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

.location-icon {
    position: absolute;
    margin: 10px;
}

.location-input {
    width: 90%;
    border-radius: 20px;
    padding-top: 0px;
    padding-left: 30px;
    height: 40px;
    background-color: #f2f2f2;
    color: #000;
    border-color: #f2f2f2;
    border-style: solid;
    outline: none;
}

.location-dropdown {
    width: 300px;
    padding: 16px;
}

.header-input-wrapper button {
    height: 50px;
    background-color: rgb(141, 84, 64);
    border: rgb(141, 84, 64);
    color: white;
}

.header-input-wrapper button:hover {
    background-color: rgb(141, 84, 64);
    border: rgb(141, 84, 64);
    color: white;
}

.header-search-wrapper {
    margin-top: 100px;
}

.header-location {
    text-align: center;
    padding-right: 10px;
    height: 40px;
    cursor: pointer;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FCFAFA;
    margin-bottom: 25px;
}

.mobile-img-section {
    display: none;
}

.header-search-wrapper h1 {
    font-size: 55px;
}

@media (max-width:1000px) {

    .header-first-img,
    .header-last-img {
        display: none;
    }

    .mobile-img-section {
        background: url(/site/asset/images/mobile-header-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        height: 232px;
    }

    .header-search-wrapper {
        margin: 0 auto;
        /* margin-top: 50px; */
    }
}

@media (max-width:510px) {
    .header-search-wrapper h1 {
        font-size: 40px;
        text-align: center;
    }

    .header-input-wrapper input {
        width: 300px;
        height: 50px;
    }

    .header-location {
        position: relative;
    }
}

@media (max-width:420px) {
    .header-search-wrapper h1 {
        font-size: 35px;
        text-align: center;
    }

    .header-input-wrapper input {
        width: 280px;
        height: 50px;
    }
}

@media (max-width:372px) {
    .header-input-wrapper input {
        width: 200px;
    }
}

@media (max-width:329px) {
    .header-input-wrapper {
        margin-left: 50px;
    }

    .header-input-wrapper input {
        width: 150px;
    }

    .header-search-wrapper h1 {
        font-size: 28px;
        text-align: center;
    }
}

/*----------------Second Header Wrapper------------------------*/
.second-header-section {
    background-image: url('../images/background2.png');
    height: 258px;
    width: 100%;
}

.second-header-mobile {
    position: absolute;
    right: 100px;
    top: -32px;
}

.app-section {
    display: flex;
}

.app-store {
    margin-top: 50px;
}

.cart-detail {
    width: 144px;
}

.addon-price {
    padding-left: 16px;
}

.location-section {
    background-color: antiquewhite;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    border-radius: 35px;
    display: inline-block;
    cursor: pointer;
}

.location-marker {
    color: #8D5440;
}

@media(max-width:1200px) {
    .second-header-mobile img {
        width: 200px;
        height: 290px;
    }
}

@media(max-width:992px) {
    .second-header-mobile img {
        position: absolute;
        /* left: -50px; */
    }
}

@media(max-width:830px) {
    .second-header-mobile {
        margin-left: -260px;
        right: 20px;
    }

    .application-heading h1 {
        font-size: 25px !important;
        position: absolute;
        top: -55px;
        left: -30px;
    }

    .app-section {
        left: -180px;
    }
}

@media(max-width:768px) {
    .card-body-image {
        width: 96px !important;
        height: 96px !important;
    }

    .second-header-mobile img {
        width: 180px;
        left: 90px;
    }

    .app-store {
        margin-left: 155px;
    }

    .cart-detail {
        width: 153px;
    }

    .addon-price {
        padding-left: 16px;
    }
}

@media(min-width:667px) and (max-width:425px) {
    .app-store {
        margin-top: 20px;
    }

    .second-header-mobile img {
        width: 180px;
        left: 155px;
    }
}

@media(max-width:425px) {
    .cart-detail {
        width: 204px;
    }

    .mobile-img-section {
        background: url(/site/asset/images/mobile-header-img.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 232px;
    }

    .second-header-mobile {
        left: 470px;
        margin-top: 130px;
    }

    .cart-footer-btn .add-to-cart-btn {
        font-size: 13px;
    }

    .cart-footer-btn .add-to-cart-btn div {
        margin-left: 21px;
    }

    .addon-price {
        padding-left: 23px;
    }
}

@media(max-width:414px) {
    .cart-detail {
        width: 192px;
    }

    .mobile-img-section {
        background: url(/site/asset/images/mobile-header-img.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 232px;
    }
}

@media(max-width:375px) {
    .cart-detail {
        width: 157px;
    }

    .addon-price {
        padding-left: 16px;
    }
}

@media(max-width:320px) {
    .cart-detail {
        width: 105px;
    }

    .addon-price {
        padding-left: 10px;
    }
}

@media(max-width:608px) {
    .application-heading h1 {
        left: 20px;
    }
}

@media(max-width:506px) {
    .application-heading h1 {
        font-size: 20px !important;
    }

    .second-header-mobile img {
        position: absolute;
        width: 200px;
        left: -150px;
    }

    .app-store {
        position: absolute;
        left: -120px;
        top: 35px
    }
}

@media(max-width:465px) {
    .second-header-mobile img {
        position: absolute;
        width: 200px;
        left: -150px;
    }

    .application-heading h1 {
        left: 10px;
    }

    .app-store {
        left: -100px;
    }
}

@media(max-width:427px) {
    .application-heading h1 {
        /* font-size: 16px !important; */
        left: 10px;
    }

    .second-header-section {
        height: 435px;
        width: 100%;
    }

    .second-header-mobile {
        top: 15px;
    }

    .app-store {
        left: 70px;
        top: -38px;
    }
}

@media(max-width:384px) {
    .second-header-mobile img {
        width: 170px;
        height: 250px;
        margin-left: 20px;
    }

    .application-heading h1 {
        font-size: 16px !important;
    }

    .app-store img {
        width: 110px;
        margin-left: 25px;
    }

    .second-header-section {
        height: 350px;
    }

    .second-header-mobile {
        top: -30px;
    }
}

@media(max-width:336px) {
    .second-header-mobile img {
        width: 170px;
        height: 250px;
        margin-left: 13px;
    }

    .application-heading h1 {
        font-size: 13px !important;
    }

    .app-store img {
        margin-left: 35px;
    }
}

/*---------------------food-cart----------------*/
.header-text {
    /* border: 1px solid rgb(141, 84, 64); */
    border-radius: 2px;
    background-color: rgb(245 245 245);
    color: #8d5440;
    padding: 4px;
}

.card {
    border-radius: 1.25rem !important;
    /* max-height: 510px !important;x */
}

#round {
    margin: 5px;
    border-radius: 21px;
    box-shadow: 0px 1px 7px 0 rgb(52 50 50 / 22%), 0px 0px 2px 1px rgb(76 75 75 / 2%);
}

.card-body {
    margin-left: 45px;
}

.card-body img {
    object-fit: cover;
}

.img-card img {
    margin-top: 10px;
}

.card-bottom-list {
    border-radius: 15px;
}

.item-card {
    max-width: 310px;
    margin-left: 15px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .card {
        margin: 0 auto;
        /* max-height: auto !important; */
    }

    .card2,
    .card3 {
        margin: 0 auto !important;
        margin-bottom: 15px !important;
    }
}

/*----------Trending Section------------------------*/
.trending-section-wrapper {
    width: 100%;
    height: 400px;
}

.trending-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trending-section .list1 {
    width: 230px;
    height: 80px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: white;
}

.list11 {
    margin-left: 50px;
}

.trending-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trending-section2 .list2 {
    width: 230px;
    height: 70px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: white;
}

.list24 {
    margin-top: 15px;
}

.trending-section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
}

.trending-section3 .list3 {
    width: 230px;
    height: 70px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: white;
}

.list33 {
    margin-left: 350px;
}

.list31 {
    margin-left: 50px;
}

table {
    text-align: center;
}

.list1 {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 201px;
    height: 86px !important;
}

.best-pro-img {
    display: grid;
    align-items: center;
    justify-content: center;
}

.best-pro-img img {
    object-fit: cover;
    height: 120px;
    width: 120px;
}

.list1-img {
    height: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.list1-img img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.header-text1 {
    /* border: 1px solid lightgray; */
    border-radius: 4px;
    color: rgb(141, 84, 64);
    cursor: pointer;
}

.trending-heading .col {
    margin-top: 35px;
}

@media only screen and (min-width: 520px) and (max-width: 740px) {
    .list13 {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 520px) and (max-width: 688px) {
    .list33 {
        margin: 0 auto;
    }

    .list31 {
        margin-left: 0;
    }
}

@media only screen and (min-width: 200px) and (max-width: 508px) {

    .list33,
    .list31,
    .list11,
    .list12,
    .list13,
    .list21,
    .list22,
    .list23,
    .list24 {
        margin: 0 auto;
    }
}

.table-area {
    margin-left: 120px;
}

@media only screen and (min-width: 200px) and (max-width: 528px) {
    .table-area {
        margin-left: 10px;
    }
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    text-decoration: none;
    color: rgb(141, 84, 64)
}

.application-heading h1 {
    margin-top: 70px;
    color: white;
    padding-left: 55px;
}

/*-----------------------------footer------------------------*/
.site-footer {
    background-color: #26272b;
    padding: 45px 35px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #8D5440;
    color: white !important;
}

.site-footer {
    background-color: whitesmoke;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 6px;
}

.social-icons li.title {
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: white;
    color: #8D5440 !important;
}

.social-icons a.twitter:hover {
    background-color: white;
    color: #8D5440 !important;
}

.social-icons a.linkedin:hover {
    background-color: white;
    color: #8D5440 !important;
}

.social-icons a.dribbble:hover {
    background-color: white;
    color: #8D5440 !important;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.footer-input-field {
    background-color: white !important;
}

/*----last input field content-*/
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
}

.icon {
    padding: 6px 7px;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.footer-links button {
    background-color: rgb(141, 84, 64);
    color: white;
    width: 75px;
    height: 36px;
}

.footer-links button:hover {
    color: white;
}

.input-icons input {
    border: 0;
    outline: 0;
}

.form-group button {
    border-radius: 12px;
    border: rgb(141, 84, 64);
    background-color: rgb(141, 84, 64);
}

.newsletter-input {
    background-color: white !important;
}

.newsletter-input:focus {
    outline: none !important;
    border-color: #8D5440;
    box-shadow: 0 0 2px #8D5440;
}

input[type="email"]::placeholder {
    text-align: center;
}

input[type="email"]:-ms-input-placeholder {
    text-align: center;
}

input[type="password"]:-ms-input-placeholder {
    text-align: center;
}

input[type="email"]::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: center;
}

input {
    text-align: center;
}

.input-icons input {
    width: 260px;
}

.clear a {
    font-size: 20px !important;
    color: rgb(141, 84, 64);
}

div a {
    text-decoration: none;
    color: black !important;
    font-weight: 0;
}

/* .cart-button {
border: 1px solid rgb(141, 84, 64);
border-radius: 4px;
width: 80px !important;
color: rgb(141, 84, 64);
margin-left: 8px;
outline:none;
}
.cart-button:focus{
outline:none;
} */
/*------------------------First Modal ---------------------*/
.modal1 {
    width: 35%;
}

.modal-content1 {
    border-radius: 15px;
}

.fa-search {
    padding-top: 20px;
}

.modal-content1::placeholder {
    text-align: left;
}

.close-modal1 {
    margin-left: 100px !important;
}

.map-img img {
    position: absolute;
    left: 340px;
    top: 5px;
}

.cross-modal1 {
    font-size: 26px !important;
    margin-left: 350px !important;
    cursor: pointer;
}

.modal-dialog {
    height: 500px !important;
}

@media(max-width:1384px) {
    .map-img img {
        position: absolute;
        left: 330px;
    }

    .cross-modal1 {
        margin-left: 360px !important;
    }
}

@media(max-width:1196px) {
    .cross-modal1 {
        margin-left: 350px !important;
    }

    .map-img img {
        left: 300px;
    }
}

@media(max-width:1096px) {
    .map-img img {
        left: 400px;
    }

    .cross-modal1 {
        margin-left: 435px !important;
    }

    .modal1 {
        width: 50%;
    }
}

@media (max-width: 968px) {
    .map-img img {
        left: 300px
    }

    .cross-modal1 {
        margin-left: 415px !important;
    }
}

@media (max-width: 936px) {
    .cross-modal1 {
        margin-left: 400px !important;
    }
}

@media (max-width: 887px) {
    .cross-modal1 {
        margin-left: 370px !important;
    }
}

@media (max-width: 859px) {
    .map-img img {
        left: 280px
    }
}

@media (max-width: 827px) {
    .cross-modal1 {
        margin-left: 330px !important;
    }
}

@media (max-width: 770px) {
    .cross-modal1 {
        margin-left: 310px !important;
    }
}

@media (max-width: 745px) {
    .map-img img {
        left: 235px
    }
}

@media (max-width: 710px) {
    .cross-modal1 {
        margin-left: 260px !important;
    }
}

@media (max-width: 910px) {
    .modal1 {
        width: 50%;
    }
}

@media (max-width: 695px) {
    .modal1 {
        width: 60%;
    }

    .map-img img {
        left: 260px
    }
}

@media (max-width: 580px) {
    .modal1 {
        width: 100%;
    }

    .cross-modal1 {
        margin-left: 420px !important;
    }

    .map-img img {
        left: 360px
    }
}

@media (max-width: 490px) {
    .cross-modal1 {
        margin-left: 360px !important;
    }

    .best-card {
        width: 90% !important;
    }
}

@media (max-width: 452px) {
    .map-img img {
        left: 290px
    }
}

@media (max-width: 490px) {
    .cross-modal1 {
        margin-left: 360px !important;
    }
}

@media (max-width: 430px) {
    .cross-modal1 {
        margin-left: 320px !important;
    }
}

@media (max-width: 384px) {
    .cross-modal1 {
        margin-left: 270px !important;
    }

    .map-img img {
        left: 260px
    }
}

@media (max-width: 353px) {
    .map-img img {
        left: 230px
    }
}

@media (max-width: 331px) {
    .modal1 {}

    .cross-modal1 {
        margin-left: 210px !important;
    }

    .map-img img {
        left: 220px
    }
}

/*------------------------Second Modal ---------------------*/
.modal-header2 {
    width: 100%;
    height: 200px;
    background-image: url('../images/backgound1.png');
    border: rgb(141, 84, 64);
    color: white;
}

.modal-name,
.modal-amount {
    margin-top: 30px;
}

.modal-btn1,
.modal-btn2,
.modal-btn3 {
    width: 40px;
    padding: 1px;
    color: rgb(141, 84, 64);
    cursor: pointer;
}

.modal-footer2 button {
    margin: 0 auto;
    background-color: rgb(141, 84, 64);
    border: rgb(141, 84, 64);
    border-radius: 10px;
    height: 40px;
}

.modal-link-btn a {
    text-decoration: none;
    color: white !important;
}

/*---------------------3 Modal------------------------*/
.modal3 {
    width: 180%;
    margin-top: 45px;
}

.modal-content3 {
    border-radius: 10px;
    width: 70%;
    height: 560px;
}

.container-cart {
    display: flex;
    padding-left: 25px;
    flex-wrap: wrap;
}

.cart-bill-section {
    height: 140px;
    width: 100%;
}

.cart-checkout button {
    width: 100%;
    background-color: rgb(141, 84, 64);
    border-radius: 5px;
    border: rgb(141, 84, 64);
    outline: 0;
}

.item-heading,
.item-amount,
.delivery-heading,
.delivery-fee,
.total-amount-heading,
.total-amount {
    font-size: 14px;
    font-weight: bold;
}

/* .item-amount,.delivery-fee,.total-amount{
margin-left: 50px;
} */
.container-total-item,
.container-delivery,
.container-total {
    display: flex;
    justify-content: space-around;
}

.total-amount {
    margin-left: 90px;
}

.bill-detail {
    margin-left: 21px;
    margin-top: 13px;
    margin-bottom: 3px;
    font-weight: 800;
    color: #b94e29;
}

.container-total {
    margin-left: 15px;
}

.btn-checkout1 a {
    text-decoration: none;
    color: white;
}

@media (max-width:991px) {
    .modal3 {
        width: 100%;
    }
}

@media (max-width:480px) {
    .modal3 {
        width: 140%;
    }
}

.btn-checkout1 a {
    text-decoration: none !important;
    color: white !important;
}

/*----------------second modal mobile responsiveness-------------*/
.modal-header-tr th,
td {
    border-top: none !important;
}

@media (max-width:390px) {
    .modal-amount-controller {
        flex-direction: column;
    }

    .modal-dish-name {
        font-size: 12px !important;
    }
}

@media (max-width:345px) {
    .modal-amount-controller2 {
        display: flex;
        flex-direction: column;
    }

    .dish-name span {
        font-size: 10px !important;
    }

    .modal-controller21 span {
        font-size: 11px !important;
    }

    .modal-link-btn {
        width: 120px !important;
        font-size: 11px;
    }

    .btn-close {
        width: 100px !important;
        font-size: 13px;
    }
}

@media(max-width:330px) {
    .dish-name span {
        font-size: 12px !important;
    }
}

.dish-name {
    border-top: none !important;
    border-bottom: none !important;
}

.location-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background-color: transparent;
    border: 0px;
    text-align: left;
    padding-left: 4px;
    height: 36px !important;
    outline: none;
}

.rounded-btn {
    position: relative;
    background-color: rgb(141, 84, 64);
    width: 75px;
    border-radius: 10%;
}

.header-location .fa-search {
    color: rgb(141 85 64);
    font-size: 21px;
}

.header-location {
    background: #fff;
    padding-bottom: 2px;
    padding: 5px;
    /*border: 1px solid #DFE3E7;
    border-radius: 47px;*/
    height: auto;
}

.header-location-text {
    font-size: 14px;
    cursor: pointer;
}

.good-heading {
    font-size: 17px;
    color: rgb(141, 84, 64);
}

.b-rounded {
    border-radius: 4px !important;
}

.location-input {
    height: auto !important;
}

.location-box-input input {
    background: #e2e2e2;
    height: 41px !important;
    padding-left: 43px !important;
}
