/*------------------Second Navbar---------------*/
.second-navbar {
  background-image: url('../images/backgound1.png');


}

.second-navbar-heading {
  color: white;
  margin-top: 130px;
  font-size: 60px !important;
}

.second-navbar-img {
  margin-top: 23px;
}

.img1 {
  margin-top: 150px;
}

.img2 {
  margin-top: 20px;
}

/* .dropdown-rating-section .btn {
  background-color: white;
} */
.dropdown-rating-section .dropdown-toggle {
  background-color: white !important;
  /* border-color: #fff;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none; */
}

@media (min-width: 992px) {
  .second-navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

/*-------------------End-----------*/

.rating-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rating-filter-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 75px;

  /* justify-content: space-between; */
}

.rating-wrapper .resturent {
  /* margin-left: 20px; */
}

.filter-section {
  margin-left: 20px;
  background-color: whitesmoke;
  height: 33px;
  width: 90px;
  padding-top: 2px;
  border-radius: 7px;
  text-align: center;
}

.filter-section a {
  color: rgb(141, 84, 64);
  text-decoration: none;

}

@media(max-width:768px) {
  .rating-filter-section {
    /* margin-left: 0px; */
  }
}

@media(max-width:570px) {
  .rating-filter-section {
    margin-left: 0px;
  }
}

@media(max-width:420px) {
  .resturent h1 {
    font-size: 35px;
  }
}

@media(max-width:365px) {
  .resturent h1 {
    font-size: 30px;
  }
}

@media(max-width:313px) {
  .resturent h1 {
    font-size: 25px;
  }

  .rating-filter-section {
    margin-left: 20px;
  }
}

/*---------------------food-cart----------------*/
.header-text {
  border: 1px solid rgb(141, 84, 64);
  border-radius: 4px;
  background-color: rgb(141, 84, 64);
  margin-top: 10px;
  color: white;
  cursor: pointer;
  padding: 2px;
}

.food-cart {
  margin: 50px 0 0 0;
}

.card-body {
  /* margin:0 auto; */
  text-align: center;
}

.card img {
  /* width: 200px !important; */
  margin: 0 auto;
  margin-top: 15px;
}

.cart-top-content {
  display: flex;
  /* justify-content:space-around */
}

.colo2-heart {
  margin-left: 140px;
  margin-top: 10px;
  color: rgb(141, 84, 64);
  cursor: pointer;


}

.colo1-heart {
  margin-left: 25px;
  border: 1px solid rgb(141, 84, 64);
  width: 50px;
  border-radius: 4px;
  background-color: rgb(141, 84, 64);
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.card-body>a {
  text-decoration: none;

}

.cart-button {
  border: 1px solid rgb(141, 84, 64);
  border-radius: 4px;
  width: 80px !important;
  color: rgb(141, 84, 64);

}

.btn-secondary {
  background-color: grey !important;
  border-color: grey !important;
}


@media(max-width:575px) {
  .card {
    margin-bottom: 15px;
    /* text-align: ; */
    /* padding-left: ; */
  }
}


/*-------------------------------Show more----------------*/

.show-more-btn>button {
  margin-top: 130px !important;
  text-align: center;
  background-color: rgb(141, 84, 64);
  color: white;
  border-radius: 8px;
}

.show-more-btn {
  flex-grow: 1;
  text-align: center;

}

/*-----------------------------footer------------------------*/



.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}


.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  /* margin-left: 6px; */
  margin-right: 0;
  border-radius: 100%;
  background-color: white
}

.site-footer {
  background-color: whitesmoke;
}

.copyright-text {
  margin: 0
}



@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  /* margin-right: 15px; */
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}





/*----last input field content-*/







.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 8px 7px;
  /* color: green; */
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer-links button {
  background-color: rgb(141, 84, 64);
  color: white;
  width: 80px;
}

.form-group input {
  width: 200px;
  height: 40px;
  /* border-radius: 10px; */
  border: 0;
  outline: 0;

}

.form-group button {
  border-radius: 12px;
  border: rgb(141, 84, 64);
  background-color: rgb(141, 84, 64);

}














input[type="email"]::placeholder { 

  /* Firefox, Chrome, Opera */
  text-align: center;
}



input[type="email"]:-ms-input-placeholder {

  /* Internet Explorer 10-11 */
  text-align: center;
}

input[type="password"]:-ms-input-placeholder {

  /* Internet Explorer 10-11 */
  text-align: center;
}


input[type="email"]::-ms-input-placeholder {

  /* Microsoft Edge */
  text-align: center;
 }



/* input {
  text-align: center;
} */



/*-------------------Modal ----------------------*/

/* .modal-header{
  width: 100%;
  height: 200px;
  background-image: url('../images/backgound1.png');
  border: rgb(141, 84, 64);
  color: white;
  
}
.modal-name,.modal-amount{
  margin-top: 30px;
} */
.modal-amount{
  /* margin-left: 10px; */
}
/* .modal-name{
  display: flex;
  flex-direction: column;
}
.modal-img-wrapper{
  display: flex;
} */
/* .modal-btn1,.modal-btn2,.modal-btn3{ */
  /* border:1px solid lightgray; */
  /* width: 60px; */
  /* padding:4px; */
  /* color: rgb(141, 84, 64); */
  /* cursor: pointer; */
/* } */
/* .modal-footer button{ */
  /* margin:0 auto; */
  /* background-color: rgb(141, 84, 64); */
  /* border: rgb(141, 84, 64); */
  /* border-radius: 10px; */
  /* height: 40px; */
/* } */


/*-------------------Second style sheet -------------------------*/






li.new-item-style {
  border:none;
 
  }
li.new-item-style:hover {
border:none;
color: #843232;
border-bottom:2px solid #843232;
}

a#my-tab1 {
  /* color: lightslategray; */
  border:none;
}
a#my-tab2 {
  /* color: lightslategray; */
  border:none;
}
a#my-tab3 {
  /* color: lightslategray; */
  border:none;
}
a#my-tab4 {
  /* color: lightslategray; */
  border:none;
}
li.current_active {
border-bottom:2px solid #843232;
}





/* first card system start */
body{margin-top:20px;}
/*card heading */
.text-costom-heading {
  font-size: 30px;
  font-weight: 500;
}

/* USER LIST TABLE */
.user-list tbody td > span > img {
  position: relative;
max-width: 70px;
float: left;
margin-right: 15px;
}
.user-list tbody td .user-link {
display: block;
font-size: 1.25em;
padding-top: 3px;
margin-left: 60px;
}
.user-list tbody td .user-subhead {
font-size: 0.875em;
font-style: italic;
}

/* TABLES */
.table {
  border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
background-color: #eee;
}
.table thead > tr > th {
border-bottom: 1px solid #efefef;
padding-bottom: 0;
}
.table tbody > tr > td {
  font-size: 0.875em;
  border-bottom: 1px solid #efefef;
/* background: #f5f5f5; */
border-top: 10px solid #fff;
vertical-align: middle;
padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
padding-left: 20px;
}
.table thead > tr > th span {
/* border-bottom: 2px solid #C2C2C2; */
display: inline-block;
padding: 0 5px;
padding-bottom: 5px;
  font-weight: normal;
  color:#843232;
}
.table thead > tr > th > a span {
  /* color: #344644; */
  color:#843232;
}
.table thead > tr > th > a span:after {
content: "\f0dc";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
margin-left: 5px;
font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
content: "\f0de";
}
.table thead > tr > th > a:hover span {
text-decoration: none;
color: #2bb6a3;
border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
-webkit-transition: background-color 0.15s ease-in-out 0s;
transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
display: block;
font-size: 0.75em;
text-align: center;
}
.table tbody tr td .first-line {
line-height: 1.5;
font-weight: 400;
font-size: 1.125em;
}
.table tbody tr td .first-line span {
font-size: 0.875em;
color: #969696;
font-weight: 300;
}
.table tbody tr td .second-line {
font-size: 0.875em;
line-height: 1.2;
}
.table a.table-link {
margin: 0 5px;
font-size: 1.125em;
}
.table a.table-link:hover {
text-decoration: none;
color: #2aa493;
}
.table a.table-link.danger {
color: #fe635f;
}
.table a.table-link.danger:hover {
color: #dd504c;
}

.table-products tbody > tr > td {
background: none;
border: none;
border-bottom: 1px solid #ebebeb;
-webkit-transition: background-color 0.15s ease-in-out 0s;
transition: background-color 0.15s ease-in-out 0s;
position: relative;
}
.table-products tbody > tr:hover > td {
text-decoration: none;
background-color: #f6f6f6;
}
.table-products .name {
display: block;
font-weight: 600;
padding-bottom: 7px;
}
.table-products .price {
display: block;
text-decoration: none;
width: 50%;
float: left;
font-size: 0.875em;
}
.table-products .price > i {
color: #8dc859;
}
.table-products .warranty {
display: block;
text-decoration: none;
width: 50%;
float: left;
font-size: 0.875em;
}
.table-products .warranty > i {
color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
background-color: #9daccb;
color: #262525;
}
.table tbody > tr.table-line-twitter > td {
background-color: #9fccff;
color: #262525;
}
.table tbody > tr.table-line-plus > td {
background-color: #eea59c;
color: #262525;
}
.table-stats .status-social-icon {
font-size: 1.9em;
vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
color: #a75d54;
}
  
.card-title1{
  font-size: 20px;
  margin-bottom: 0.025rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.card-title2{
  font-size: 80%;
  margin-bottom: 0.025rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
/* first card system end */

/* QTY */

input.form-control.input-number {
  max-width: 50px;
  border-left: none;
  border-right: none;
  max-height: 29px;
  font-size: unset;
  border-radius: 0px;
}
button.btn.btn-outline-light.btn-number.plus{
  background:white;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  line-height: 16px;
  font-size: 12px;
  color:#843232;
  border-radius: 0px;
}
button.btn.btn-outline-light.btn-number.minus{
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  line-height: 16px;
  font-size: 12px;
  color:#843232;
  border-radius: 0px;
}

/* button chekout */
button.btn.btn-custom{
  color:white;
  font-weight: 300;
  background: #843232;
  width: 15%;
  font-size: 13px;
  margin-top: 3%;
}

button.btn.btn-outline-secondary.pulse{
  width: 66%;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #843232;
}
button.btn.btn-outline-secondary.pulse:hover{
  background: #843232;
  color: white;
}
img.mx-auto.d-block.img-fluid.bank-icon{
  width: 100%;
  /* line-height: 52px; */
  margin-top: 14%;
  padding-bottom: 7%;
}
@media only screen and (max-width: 846px) {
    /* table button  */
  button.btn.btn-outline-secondary.pulse{
      width: 70%;
      font-size: 10px;
      font-weight: 400;
  }
  input.form-control.input-number {
      max-width: 40px;
      max-height: 26px;
      font-size: 10px;
  }
  button.btn.btn-outline-light.btn-number.plus{
      line-height: 13px;
      max-height: 26px;
      font-size: 7px;
      max-width: 10px;
  }
  button.btn.btn-outline-light.btn-number.minus{
      line-height: 13px;
      max-height: 26px;
      font-size: 7px;
      max-width: 10px;
  }
  .card-title1{
      font-size: 12px;
  }
  .user-list tbody td .user-subhead{
      font-size: 7px;
  }
  .table thead > tr > th span{
      font-size: 14px;
  }
  .table tbody > tr > td > b{
      font-size: 10px;;
  }
  .user-list tbody td > span > img{
      width: 60px;
  }
  div.text-right > span{
      font-size: 12px;
  }
  .text-costom-heading {
      font-size: 20px;
      font-weight: 400;
  }
  img.mx-auto.d-block.img-fluid.bank-icon{
      width: 100%;
      /* line-height: 52px; */
      margin-top:2%;
      padding-bottom: 7%;
  }
}

@media only screen and (max-width: 530px) {
  button.btn.btn-outline-secondary.pulse{
      width: 60%;
      font-size: 7px;
      font-weight: 300;
  }
  img.mx-auto.d-block.img-fluid.bank-icon{
      width: 100%;
      /* line-height: 52px; */
      margin-top:2%;
      padding-bottom: 7%;
  }
}


.form-group .card-name{
    border: 1px solid black;
    width: 90%;
    outline: 0;
}
.form-group .card-number{
  border: 1px solid black;

}
.form-group .card-cvv{
  border: 1px solid black;

}

.form-group .card-option{
      width: 180px;  
}
.card-submit{

  width: 200px !important;
background-color: rgb(141, 84, 64);
border: rgb(141, 84, 64) !important;
border-radius: 8px;
margin-top: 47px;
}
.user-card-detail form{
  margin-left: 130px;
}
@media (max-width:1205px){
  .form-group .card-option{
      width: 130px;  
      margin-left: 30px;
}
}
@media (max-width:1198px){
  .form-group .card-option{
      /* width: 130px;   */
      margin-left: 70px;
}
}
@media (max-width:1046px){
  .form-group .card-option{
      width: 100px;  
      margin-left: 55px;
}
}
/* @media (max-width:1046px){
  .form-group .card-option{
      width: 180px;  
      margin-left: 0px;
}
} */
@media (max-width:991px){
  .form-group .card-option{
      width: 180px;  
      margin-left: 5px;
}
}
@media (max-width:768px){
  .form-group .card-option{
      width: 140px;  
      margin-left: 30px;
}
.user-detail-section{
position: absolute; 
left: -150px; 
}
}
@media (max-width:526px){
  .form-group .card-option{
      /* width: 140px;   */
      margin-left: 70px;
}
}
@media (max-width:456px){
  .form-group .card-option{
      /* width: 140px;   */
      margin-left: 100px;
}
}

@media (max-width:390px){
  .form-group .card-option{
     position: absolute;
     top: 115px;
     left: -175px;
}
.card-name{
  width: 300px !important;
}
.card-submit{
  margin-top: 60px;
}
}
@media (max-width:342px){
  .form-group .card-option{
    
     left: -160px;
}
.card-name{
  width: 220px !important;
}
}
@media (max-width:480px){

.re-order,.pending-order,.cancel-order{
  width: 60px !important;
}
}

.edit-btn{
  /* background-color: ; */
  border:1px solid lightgray !important;
  outline: none;
}
.edit-btn:hover{
  /* background-color: ; */
  background-color: rgb(141, 84, 64) !important;
  border:1px solid rgb(141, 84, 64) !important;
  color: white !important;
  outline: none;
}

.save-profile{
  width:65%;
  /* left: 10px; */
  position: relative;
  left: -70px;
  background-color: rgb(141, 84, 64) !important;
  border: rgb(141, 84, 64) !important;
  border-radius: 7px !important;
}

/*-------------Edit Profile Modal------------*/
/* .edit-modal-content,.modal-dialog{
  width:500px;
} */
/* .edit-modal-content,.modal-header{
  background-color: white !important;
} */

.modal-content{
  width: 80% !important;
  border-radius:12px !important;
  border: white !important;
}

.edit-profile-section-1,.edit-profile-section-2{
     width: 150px;
     height: 40px;
     border: 1px solid lightgrey;
     border-radius: 8px;
     display: flex;
     
     justify-content: space-around;
     flex-wrap: wrap;
     padding-top: 8px;
}
.edit-profile-section-3,.edit-profile-section-4{
  width: 100%px;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding-top: 8px;

  display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}
.edit-cross{
  border: 1px solid whitesmoke;
  background-color:whitesmoke;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

@media(max-width:424px){
  .modal-content{
    width: 100% !important;
    border-radius:12px !important;
    border: white !important;
  }
}

@media(max-width:348px){
  .profile-name{
    font-size: 12px !important;
  }
  .profile-first-name,.profile-second-name,.profile-email,.profile-number{
    font-size: 12px !important;
  }
}
.camera-img{
  position: absolute;
  top: 25px;
  left: 35px;
  cursor: pointer;
}

/* .profile-background{
  background-image: url('../images/Ellipse\ 19.png');
  width: 70px;
  background-repeat: no-repeat;
} */

/*------------------------Second Modal */



.modal-header2{
  width: 100%;
  height: 200px;
  background-image: url('../images/backgound1.png');
  border: rgb(141, 84, 64);
  color: white;
  
}
.modal-name,.modal-amount{
  margin-top: 30px;
}
.modal-amount{
  /* margin-left: 10px; */
}
/* .modal-name{
  display: flex;
  flex-direction: column;
}
.modal-img-wrapper{
  display: flex;
} */
.modal-btn1,.modal-btn2,.modal-btn3{
  /* border:1px solid lightgray; */
  width: 60px;
  padding:4px;
  color: rgb(141, 84, 64);
  cursor: pointer;
}
.modal-footer2 button{
  margin:0 auto;
  background-color: rgb(141, 84, 64);
  border: rgb(141, 84, 64);
  border-radius: 10px;
  height: 40px;
}
.modal-link-btn a{
  text-decoration: none;
  color: white !important;
}


/*---------------------3 Modal------------------------*/


/*--------------------Modal first-----------------------*/
.modal3{
  width: 180%;
  margin-top: 70px;
  
}
.modal-content3{
  border-radius: 10px;
  width: 70%;
  height: 560px;
}
.container-cart{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cart-bill-section{
  height: 130px;
  width: 100%;
  background-color:whitesmoke;
}
.cart-checkout button{
  width: 100%;
  background-color: rgb(141, 84, 64);
  border-radius: 5px;
  border:rgb(141, 84, 64);
  outline: 0;

}
.item-heading,.item-amount,.delivery-heading,.delivery-fee,.total-amount-heading,.total-amount{
  font-size: 14px;
  font-weight: bold;
}
.item-amount,.delivery-fee,.total-amount{
  margin-left: 50px;
}
.container-total-item,.container-delivery,.container-total{
  display: flex;
  justify-content: space-around;
}
.total-amount{
  margin-left: 90px;
}
.bill-detail{
  margin-left: 21px;
}
.container-total{
  margin-left: 15px;
}

.btn-checkout1 a{
  text-decoration: none;
  color: white;
}
@media (max-width:991px){
  .modal3{
    width: 100%;
    /* margin-top: 70px; */
    
  }
}
@media (max-width:480px){
  .modal3{
    width: 140%;
    /* margin-top: 70px; */
    
  }
}
@media (max-width:310px){
  .modal-content1{
    height: 700px;
  }
}

.btn-checkout1 a{
  text-decoration: none !important;
  color: white !important;
}

.second-modal-tbody th{
  border-top: none !important;
  /* padding-top: 0px !important; */
}
.second-modal-tbody td{
  border-bottom: none !important;
  /* padding-top: 0; */
}
.modal-link-btn a{
  text-decoration: none;
  color: white;
}
.modal-link-btn a:hover{
  text-decoration: none;
  color: white;
}


/*----------------second modal mobile responsiveness-------------*/

.modal-header-tr th,td{
  border-top: none !important;
}
@media (max-width:390px){
.modal-amount-controller {
  display: flex;
  flex-direction: column;
}
.modal-dish-name{
  font-size: 12px !important;
}
}

@media (max-width:345px){
  .modal-amount-controller2 {
    display: flex;
    flex-direction: column;
 
  }
  .dish-name span{
    font-size: 10px !important;
  }
  .modal-controller21 span{
    font-size: 11px !important;
  }
 
  }
  @media(max-width:345px){
    .modal-dish span{
      font-size: 12px !important;
    }
  }

  @media(max-width:320px){
    
    .modal-btn1,.modal-btn2,.modal-btn3{
      font-size: 10px !important;

    }
  }
  @media(max-width:530px){
    
    .modal-header-img img{
      width: 80px !important;
      margin-top: 30px !important;

    }
    .modal-amount p{
      font-size: 16px !important;
    margin-top: 10px !important;
    margin-left: 10px;
    }
    .modal-controller span{
      font-size: 12px !important;

    }
  }
  @media(max-width:340px){
    .modal-controller{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    }
  }