<template>
  <div>
    <a-steps progress-dot :current="currentStatus" direction="vertical">
      <a-step :title="placed" :description="place_desc" />
      <a-step :title="confirmed" :description="con_desc" />
      <a-step :title="picked" :description="pick_desc" />
      <a-step :title="delivered" :description="deliver_desc" />
    </a-steps>
  </div>
</template>

<script>
import Echo from 'laravel-echo';
import Antd from 'ant-design-vue';
import 'ant-design-vue/dist/antd.css';
export default {
    props:['current','order_id'],
    data() {
        return {
            currentStatus: parseInt(this.current, 10)
            ,placed: (parseInt(this.current, 10) >=1)? 'Order placed':''
            ,place_desc: (parseInt(this.current, 10)>=1)? 'Your order has been placed':''
            ,confirmed: (parseInt(this.current, 10)>=2)? 'Your order is now preparing':''
            ,con_desc: (parseInt(this.current, 10)>=2)? 'Your order is now being prepared':''
            ,picked: (parseInt(this.current, 10)>=3)? 'Your order is prepared and pickedup by rider':''
            ,pick_desc: (parseInt(this.current, 10)>=3)? 'Your order has been picked up by the rider':''
            ,delivered: (parseInt(this.current, 10)>=4)? 'Order completed':''
            ,deliver_desc: (parseInt(this.current, 10)>=4)? 'Order delivered':''
        }
    },
    mounted() {
      window.Echo.channel('order-track.'+this.order_id)
        .listen('OrderStatusChanged',(order)=>{
            this.currentStatus = order.current
            this.placed= (this.currentStatus >=1)? 'Order placed':''
            this.place_desc= (this.currentStatus>=1)? 'Your order has been placed':''
            this.confirmed= (this.currentStatus>=2)? 'Your order is now preparing':''
            this.con_desc= (this.currentStatus>=2)? 'Your order is now being prepared':''
            this.picked= (this.currentStatus>=3)? 'Your order is prepared and pickedup by rider':''
            this.pick_desc= (this.currentStatus>=3)? 'Your order has been picked up by the rider':''
            this.delivered= (this.currentStatus>=4)? 'Order completed':''
            this.deliver_desc= (this.currentStatus>=4)? 'Order delivered':''
        }
        );
    },
}
</script>
