<template>
    <alert v-model="alert" placement="top-right" duration="4000" type="success" width="400px" dismissable>
      <span class="icon-ok-circled alert-icon-float-left"></span>
      <!-- <a v-bind:href="`/order/${order_id}`"><strong>{{ title }}</strong><p>{{ description }}</p></a> -->
    </alert>
</template>

<script>
    import { alert } from 'vue-strap'

    export default {
        components: {
            alert
        },

        props: ['user_id','chef_id'],

        data() {
            return {
                alert: false,
                order_id: '',
                title:'',
                description:'',
            }
        },

        mounted() {
            window.Echo.channel('order-alert')
            .listen('OrderStatusChanged', (order) => {
                if (this.user_id == order.user_id && this.chef_id == 0) {
                    this.alert = true,
                    this.order_id = order.id,
                    this.title = (this.currentStatus >=1)? 'Order placed':'',
                    this.description = (this.currentStatus>=1)? 'Your order has been placed':'',
                    this.title = (this.currentStatus>=2)? 'Your order is now preparing':'',
                    this.description = (this.currentStatus>=2)? 'Your order is now being prepared':'',
                    this.title = (this.currentStatus>=3)? 'Your order is prepared and pickedup by rider':'',
                    this.description = (this.currentStatus>=3)? 'Your order has been picked up by the rider':'',
                    this.title = (this.currentStatus>=4)? 'Order completed':'',
                    this.description = (this.currentStatus>=4)? 'Order delivered':''
                }
            });
        }
    }
</script>
