<template>
    <alert v-model="alert" placement="top-right" duration="4000" type="success" width="400px" dismissable>
      <span class="icon-ok-circled alert-icon-float-left"></span>
    </alert>
</template>

<script>
    import { alert } from 'vue-strap'

    export default {
        components: {
            alert
        },

        props: ['user_id','chef_id'],

        data() {
            return {
                alert: false,
                order_id: '',
                title:'',
                description:'',
            }
        },

        mounted() {
            window.Echo.channel('order-alert')
            .listen('OrderStatusChanged', (chef) => {
                  if(this.chef_id == order.chef_id && this.user_id == 0)
                    this.alert = true,
                    this.order_id = chef.id,
                    this.title = 'New order added',
                    this.description = 'See the more.'
            });
        }
    }
</script>
